{% extends 'base.html' %} 
{% block content %}

<h1>DETAIL</h1>
<!-- 
<hr />
<h3>{{dscs.title}}</h3><br>
{{form.as_p}}

<p>Audience : {{dscs.audience}}</p>
<p>Release_date : {{dscs.release_date}}</p>
<p>Genre : {{dscs.genre}}</p>
<p>Score : {{dscs.score}}</p>
<p>poster_url : {{dscs.poster_url }}</p>
<p>descripthion : {{dscs.descripthion}}</p>
<br>
<a href="{% url '' %}">UPDATE</a>
<form action="{% url '' %}" method ="POST">
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>
<a href="{% url 'dscs:index' %}">BACK</a> -->

{% endblock content %}
